.about-page_wrapper {
 display: flex;
 justify-content: center;
 align-items: center;
 max-height: 100vh;
 text-align: center;
}

.about_container {
 width: 65vw;
 background-color: rgba(122, 118, 118, 0.1);
 margin: 5px;
 padding:10px ;
 border-radius: 5px;
 position: relative;
 max-width: 1200px;
 margin-right: auto;
 margin-left: auto;
 height: fit-content;
}